- name: "Get ScaleIO token for Auth"
  uri:
    url: https://{{ vxflex_gateway_ip }}:{{ vxflex_gateway_https_port }}/api/login
    return_content: yes
    user: "{{ vxflex_gateway_username }}"
    password: "{{ vxflex_gateway_pw }}"
    force_basic_auth: yes
    validate_certs: False
    status_code:
      - 200
      - 201
      - 202
  register: msg

- name: "Query Protection ID to pass to Create Device"
  uri:
    url: https://{{ vxflex_gateway_ip }}:{{ vxflex_gateway_https_port }}/api/types/ProtectionDomain/instances/action/queryIdByKey
    method: POST
    user: "{{ vxflex_gateway_username }}"
    password: "{{ msg.json }}"
    body: { "name": "{{ vxflex_protection_domain_name }}"}
    force_basic_auth: yes
    body_format: json
    validate_certs: False
    status_code:
      - 200
      - 201
      - 202
  register: protection_domain_id

- name: "Copy RHEL 7 SIO Files"
  copy:
    src: ./files/
    dest: /tmp/
    mode: 0644

- name: "Install SIO SDS"
  yum:
    name: '/tmp/EMC-ScaleIO-sds-{{ vxflex_version }}.el7.x86_64.rpm'
    state: present

- name: "Install SIO LIA"
  yum:
    name: '/tmp/EMC-ScaleIO-lia-{{ vxflex_version }}.el7.x86_64.rpm'
    state: present

- name: "Find MDM Ip's"
  set_fact:
    mdm_ip: "{{ ansible_facts['all_ipv4_addresses'] | ipaddr( vxflex_mdm_cidr ) }}"

- name: "Create sdsIp's"
  set_fact:
    sdsIps: "{{ {'SdsIp': {'ip':item, 'role':'all'}} }}"
  register: sds_Ips
  with_items: "{{ mdm_ip }}"

- name: "Create sdsIpList"
  set_fact:
    sdsIpList: "{{ sds_Ips.results | map(attribute='ansible_facts.sdsIps') | list }}"
- debug:
    var: protection_domain_id

- name: "Create main payload"
  set_fact:
    body: "{{ {'protectionDomainId': protection_domain_id.json,'name': ansible_facts['nodename'],'sdsIpList': sdsIpList} }}"

- name: "Add SDS Server to ProtectionDomain PD1"
  uri:
    url: https://{{ vxflex_gateway_ip }}:{{ vxflex_gateway_https_port }}/api/types/Sds/instances
    method: POST
    user: "{{ vxflex_gateway_username }}"
    password: "{{ msg.json }}"
    body: "{{body}}"
    force_basic_auth: yes
    body_format: json
    validate_certs: False
    status_code:
      - 200
      - 201
      - 202
